In [2]:
import pandas as pd

# Importing and Exporting Data - QUICK REVIEW

In [3]:
import os

In [9]:
os.listdir()

['.DS_Store',
 'data-manipulation.ipynb',
 'lab-data-manipulation-solutions.ipynb',
 'vehicles',
 '.ipynb_checkpoints']

In [11]:
pd.read_csv('./vehicles/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
pd.read_csv('./vehicles/vehicles.csv', sep=';')

In [12]:
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-06-26/week13_alcohol_global.csv'

In [13]:
pd.read_csv(url)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [14]:
dataframe = pd.read_csv(url)

In [15]:
dataframe.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [19]:
dataframe.to_csv('vehicles/example_dataset.csv', index=False)

In [22]:
# pd.read_csv('vehicles/example_dataset.csv', index_col=0)

In [ ]:
pd.read_csv('vehicles/example_dataset.csv')

# Data Manipulation - PART 1

In [ ]:
import pandas as pd

data = pd.read_csv('vehicles/vehicles.csv')
data.head()

## Checking the dataframe column names

In [ ]:
data.columns

## Accessing dataframes

> * .iloc

> * .loc

In [ ]:
data.iloc[10:20]

In [ ]:
data.loc[10:20, :]

# Rename columns 
>    - Rename some columns
>    - Rename all columns
>    - The `Inplace` clause

In [ ]:
data.head(2)

In [ ]:
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

# this is only printing on screen

In [ ]:
data.head(2)
# the column names did not change.

Two options:
> 1. store it again on the variable `data`: 

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})
> 2. Use the inplace argument `inplace =  True` to change the values within the dataframe automatically

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [ ]:
# using rename and storing the results in a variable
renamed_data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

In [ ]:
renamed_data.head(2)

In [ ]:
# using inplace
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [ ]:
# substituting the .columns attribute of the dataframe

cols = ['Manufacturer','Model','Year','Displacement',
        'Cylinders','Transmission','Drivetrain',
        'Vehicle Class','Fuel Type','Fuel Barrels/Year',
        'City MPG','Highway MPG','Combined MPG',
        'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns = cols
data.head(2)

# Change ORDER
>    - Remember you always pass a list to a dataframe

Just select the columns in a different order and overwrite the previous dataframe

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.

column_order = ['Year','Manufacturer','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]

In [ ]:
data.head(2)

# Filter records
>    - masks 
>    - query

This is really important for data wrangling.

## Simple Example: Starting with a numpy array. How can I filter the values of a list?

In [ ]:
import numpy as np

In [ ]:
my_array = np.array([1,2,3,4,5,6,7,8,9,10])

In [ ]:
my_array

In [ ]:
# this is what is called a mask (or a condition)
my_array > 6

In [ ]:
my_array[0:3]

In [ ]:
# when you use this mask, it only returns the values for which the results were True
my_array[my_array > 6]

## Now in a dataframe

Let's find the rows in which the Cylinders values are exactly 6.

In [ ]:
data['Cylinders'].value_counts()

In [ ]:
data['Cylinders'] == 6


data[data['Cylinders'] == 6]

In [ ]:
data[data['Cylinders'] == 6]['Cylinders'].value_counts()

## You can combine conditions

In [ ]:
filtered = data[(data['Manufacturer']=='Ford') &
                (data['Cylinders']==6) &
                (data['Combined MPG'] < 18)]

filtered.head()

## You can put the conditions in variables as well

In [ ]:
condition1 = (data['Manufacturer']=='Ford')
condition2 = (data['Cylinders']==6)
condition3 = (data['Combined MPG'] < 18)

In [ ]:
data[condition1 & condition2 & condition3]

In [ ]:
data.loc[condition1 & condition2 & condition3, :]

## Another way to do the same thing.

* using the method `query`

The method `query` receives a string in which you can say your condition. Important things:
- `query` is a method of your dataframe
- the columns of the dataframe DOES NOT NEED to be inside quotation marks `"`, because it searchs for it in your dataframe
- the values you are trying to compare needs to be with the same type as it is in your dataframe
- If your column has spaces, you have to call it using backticks like in the example below:

In [ ]:
data.query('Manufacturer == "Ford" and Cylinders >= 6 and `Combined MPG` < 18').head()

# Conditional Categories
    - Mask
    - .loc

In [ ]:
data['Transmission']

In [ ]:
data['Transmission'].str.startswith('A')

## I want to create a new column called TransType and call it "Automatic" if the value in Transmission starts with A, if it startswith M, I want to call it "Manual"

In [ ]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [ ]:
data.TransType.value_counts()

------

# Data Manipulation - PART 2

# Group by 
>    - Aggregating function (f)
>    - as_index = False
>    - ```pd.merge``` 
>    - `left_on`, `right_on`

In [ ]:
data.groupby(by='Manufacturer')

In [ ]:
avg_mpg = data.groupby(by='Manufacturer').mean()
avg_mpg.head()

In [ ]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg[['Manufacturer', 'Combined MPG']].head()

## Rename it using .rename if you want

# How to merge dataframes based on a specific column

In [ ]:
pd.merge(data, avg_mpg, on='Manufacturer').head(2)

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Manu').head(2)

# How to concatenate dataframes?

In [ ]:
# creating a dataframe containing only the Manufacturer Lexus
lexus = data[data['Manufacturer']=='Lexus']

In [ ]:
# creating a dataframe containing only the Manufacturer Audi
audi = data[data['Manufacturer']=='Audi']

In [ ]:
# Concatenating both results

lexus_audi = pd.concat([lexus, audi], axis=0)
lexus_audi.head()

In [ ]:
melted = pd.melt(data, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted.head(10)

# Bins
> ```pd.cut``` vs ```pd.qcut```
> - Specify cutoffs

> - Use case
>     - Scores ~ decis (0,1,2,3,4,5,6,7,8,9)


Suppose I want to break the values of the variable `Combined MPG` into 5 categories: From Very Low to Very High

In [ ]:
data.head()

In [ ]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [ ]:
# performing the pd.cut operation without specifiyng the labels outputs the intervals
bins = pd.cut(data['Fuel Cost/Year'], 5)
bins

In [ ]:
# performing the pd.cut operation using the labels argument outputs your labels
bins = pd.cut(data['Fuel Cost/Year'], 5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins = pd.qcut(data['Fuel Cost/Year'],5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts()

In [ ]:
cutoffs = [1000,1500,2000,2500,3000,3500]
bins = pd.cut(data['Fuel Cost/Year'], cutoffs, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts(sort=False)

# Convert categorical variables columns
>    - One hot encoding

In [ ]:
data[['Drivetrain']]
# count the values within each category

In [ ]:
data['Drivetrain'].unique()

In [ ]:
data[['Drivetrain']].head()

In [ ]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()