In [ ]:
from pathlib import Path
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
# ^^^ pyforest auto-imports - don't write above this line
import pandas as pd

# Function definitions

Broken into tokens:

> <b>def </b>
- Tell python that you're starting to create a function

> <b>function_name</b>
- you give that function a name for a future call

> <b>(</b>
- Open parenthesis to give arguments (or variables) that you'll use in that functions. These helps you parametrize code.

> <b>[OPTIONAL] arg1, arg2, arg3, ... </b>
- The arguments of that function

> <b>)</b>
- CLose parenthesis to say you're done creating arguments

> <b>:</b>
- colon to say you're about to start a `code block`

> <b>code block</b>
- where you effectively do something with (or without) the arguments

> <b>return</b>
- The return statement tells you're done with the function. Whether you'll return something from that or not is optional

> <b>[OPTIONAL] something</b>
- The `something` you're allowed to retur.

```python
def function_name(arg1):
    something = arg1 + 10
    return something
```

In [21]:
def function_name(arg1):
    something = arg1 + 10
    return something

function_name(30)

40

# What is a lambda function?

https://realpython.com/python-lambda/


> Named after `lambda calculus`.

> Usually refers to `anonymous functions`

## Defining lambda functions

In [22]:
lambda arg1 : arg1 + 10

In [23]:
(lambda arg1 : arg1 + 10)

In [25]:
(lambda arg1 : arg1 + 10)(35)

45

In [26]:
function_name = lambda arg1 : arg1 + 10

In [27]:
function_name(30)

40

In [28]:
f = lambda x : x + 1

In [29]:
f(10)

11

In [30]:
# map

example_list = [1,4,5,8]

In [37]:
def half(x):
    return x / 2

In [38]:
list(map(half, example_list))

[0.5, 2.0, 2.5, 4.0]

In [39]:
list(map(lambda x : x/2, example_list))

[0.5, 2.0, 2.5, 4.0]

## More than 1 argument

In [ ]:
def my_sum(a , b):
    return a + b

In [40]:
add_args = lambda arg1, arg2 : arg1 + arg2
add_args(10, 20)

30

In [41]:
from functools import reduce

In [42]:
reduce(lambda x,y: x + y, example_list)

18

## Conditions

In [49]:
def safe_div(num, denom):
    """
    Return the true division of num by denom. 
    In case denom is 0, return 0
    """
    if denom != 0:
        return num//denom
    else:
        return 0

In [54]:
safe_div = lambda num, denom: num // denom if (denom != 0) else 0

In [53]:
safe_div(9, 3)

3

# Applications

## map

In [55]:
example_list = [1,4,6,7,10,31,13]

In [57]:
def half(x):
    return x/2

In [58]:
list(map(half, example_list))

[0.5, 2.0, 3.0, 3.5, 5.0, 15.5, 6.5]

In [60]:
list(map(lambda x : x / 2, example_list))

[0.5, 2.0, 3.0, 3.5, 5.0, 15.5, 6.5]

## filter

In [62]:
def check_if_even(x):
    if x % 2 == 0:
        return True
    else:
        return False
    
# def check_if_even(x):
#     return x % 2 == 0

In [65]:
example_list

[1, 4, 6, 7, 10, 31, 13]

In [64]:
list(filter(check_if_even, example_list))

[4, 6, 10]

In [69]:
list(filter(lambda x : x % 2 == 0, example_list))

[4, 6, 10]

## Ordering by the last letter

In [70]:
school_dash = ['Calclulus', 'Philosophy', 'Art-History', 'Computer-Science']

In [77]:
x[-1]

'y'

In [80]:
def get_last_letter(x):
    return x[-1]

get_last_letter('andre')

'e'

In [81]:
sorted(school_dash, key=get_last_letter)

['Computer-Science', 'Calclulus', 'Philosophy', 'Art-History']

In [97]:
school_dash = ['Philosophy 1class', 'Art 3 classes', 'Computer 2 clas', 'Calclulus 2 clssssssss']

In [95]:
'Calclulus 2 class'.split()[-2]

'2'

In [104]:
import re

'13'

In [98]:
sorted( school_dash, key=lambda x : x.split()[-2])

['Computer 2 clas',
 'Calclulus 2 clssssssss',
 'Art 3 classes',
 'Philosophy 1class']

In [105]:
def my_complex_function(x):
    import re
    return re.findall('\d+', x)[0]

In [106]:
sorted( school_dash, key=my_complex_function)

['Philosophy 1class',
 'Computer 2 clas',
 'Calclulus 2 clssssssss',
 'Art 3 classes']

In [52]:
def get_last_char(x):
    return x[-1]

In [53]:
sorted(school_dash, key=get_last_char)

['Computer-Science', 'Calclulus', 'Philosophy', 'Art-History']

In [25]:
school_dash

['Calclulus', 'Philosophy', 'Art-History', 'Computer-Science']

In [32]:
'exemplo'[-1]

'o'

In [33]:
lambda x : x[-1]

In [34]:
get_last_character = lambda x : x[-1]

In [35]:
[name for name in school_dash]

['Calclulus', 'Philosophy', 'Art-History', 'Computer-Science']

In [47]:
[get_last_character(name) for name in school_dash]

['s', 'y', 'y', 'e']

In [48]:
[name[-1] for name in school_dash]

['s', 'y', 'y', 'e']

In [56]:
sorted(school_dash, key=lambda x : x[-1])

['Computer-Science', 'Calclulus', 'Philosophy', 'Art-History']

# Ordering a dictionary by its values

In [107]:
my_dict = {'Bruna': 80, 'Rodrigo' : 90 , 'Livia': 80, 'Andre': 70, 'Fernanda': 10, 'Pedro' : 80, 'Peixeiro': 60}

In [108]:
my_dict

{'Bruna': 80,
 'Rodrigo': 90,
 'Livia': 80,
 'Andre': 70,
 'Fernanda': 10,
 'Pedro': 80,
 'Peixeiro': 60}

In [110]:
list(my_dict.items())

[('Bruna', 80),
 ('Rodrigo', 90),
 ('Livia', 80),
 ('Andre', 70),
 ('Fernanda', 10),
 ('Pedro', 80),
 ('Peixeiro', 60)]

In [113]:
('Bruna', 80)[1]

80

In [117]:
sorted( my_dict.values() )

[10, 60, 70, 80, 80, 80, 90]

In [118]:
sorted( my_dict.items() , key=lambda x : x[1], reverse=True)

[('Rodrigo', 90),
 ('Bruna', 80),
 ('Livia', 80),
 ('Pedro', 80),
 ('Andre', 70),
 ('Peixeiro', 60),
 ('Fernanda', 10)]

In [87]:
list(my_dict.items())

[('Bruna', 80),
 ('Rodrigo', 90),
 ('Livia', 80),
 ('Andre', 70),
 ('Fernanda', 10),
 ('Pedro', 80),
 ('Peixeiro', 60)]

In [85]:
sorted(my_dict.items(), key=lambda x : x[-1])

{'A': 10, 'B': 8, 'BA': 9, 'BB': 6}

# Pandas

In [164]:
df = pd.read_csv('ufo.csv', sep=';', index_col=0).reset_index(drop=True)
df.head()

         date  year  month  ...  date_documented   latitude   longitude
0  1949-10-10  1949     10  ...        4/27/2004  29.883056  -97.941111
1  1949-10-10  1949     10  ...       12/16/2005  29.384210  -98.581082
2  1955-10-10  1955     10  ...        1/21/2008  53.200000   -2.916667
3  1956-10-10  1956     10  ...        1/17/2004  28.978333  -96.645833
4  1960-10-10  1960     10  ...        1/22/2004  21.418056 -157.803611

[5 rows x 15 columns]

In [ ]:
df['description'] = df['description'].fillna('')

In [144]:
type(df.loc[df.description.isna(), :].description.iloc[0])

float

In [ ]:
df['description'].apply(lambda x : x.split()[-1])

In [159]:
df['description'].apply(lambda x : x.split()[-1] if len(x) > 0 else '')

0              sit
1            dime.
2          England
3             home
4          ordinan
           ...
80327    hovering.
80328        wife.
80329      UFO&#44
80330        left.
80331         City
Name: description, Length: 80332, dtype: object

In [168]:
df['description'].apply(lambda x : x.split()[-1] if x == x else '')

0              sit
1            dime.
2          England
3             home
4          ordinan
           ...
80327    hovering.
80328        wife.
80329      UFO&#44
80330        left.
80331         City
Name: description, Length: 80332, dtype: object

In [161]:
8 == 8

True

In [163]:
np.nan != np.nan

True

In [176]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/pt202001/labs/classes/lambda-functions