# String concatenation

In [124]:
type('Hello')

str

In [125]:
type("Hello")

str

In [113]:
'Hello' + 'World'

'HelloWorld'

In [114]:
x = 'Hello'

In [116]:
x + 'World'

'HelloWorld'

In [117]:
x

'Hello'

In [122]:
x += 'World'
# x = x + 'World'
x

'HelloWorldWorldWorldWorldWorld'

In [123]:
print('Hello')

Hello

In [127]:
'''Oi meu nome é Andre
e blablabla'''

'Oi meu nome é Andre\ne blablabla'

In [128]:
print('''Oi meu nome é Andre
e blablabla''')

Oi meu nome é Andre
e blablabla

In [65]:
# hello + world

In [66]:
# print helloworld

In [ ]:
# add to the string itself

# String multiplication

In [132]:
# multiply values

 'Andre\n' * 10

'Andre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\n'

In [131]:
# multiply values

print('Andre\n' * 10)

Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre

In [134]:
# multiply values

print('---' * 30)

------------------------------------------------------------------------------------------

# Join strings

In [140]:
space = ' '

In [141]:
space.join(['Andre', 'Aguiar'])

'Andre Aguiar'

In [148]:
'-->'.join(['Andre', 'Aguiar','Bla'])

'Andre-->Aguiar-->Bla'

In [142]:
x = 'Happy'
y = 'Puppies'

'-'.join([x, y])

'Happy-Puppies'

# The newline character (\n)

In [154]:
print('\n'* 10)

# Practical example

In [164]:
queries = []
tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

# TASK: UNION ALL TABLES
'''
SELECT * FROM table_A
UNION 
SELECT * FROM table_B
UNION
SELECT * FROM table_C 
...

'''


for table in tables:
    queries.append(f'SELECT * FROM {table}')
    
# Loop adding strings
# Join solution


print('\nUNION\n'.join(queries))

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I

In [166]:
my_query = '\nUNION\n'.join(queries)

In [165]:
queries

['SELECT * FROM table_A',
 'SELECT * FROM table_B',
 'SELECT * FROM table_C',
 'SELECT * FROM table_D',
 'SELECT * FROM table_E',
 'SELECT * FROM table_F',
 'SELECT * FROM table_G',
 'SELECT * FROM table_H',
 'SELECT * FROM table_I']

In [167]:
import ironhelpers 
ironhelpers.pprint(my_query)

```mysql
 SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I```

# Size of strings

In [168]:
# len of string
len('Andre')

5

# Word selection

In [185]:
word = 'automobile'

print(word[0])
print(word[4])
print(word[-1])
print(word[3:6])
print(word[3:])
print(word[0::])
print(word[:])

# select 0, 5, end char

a
m
e
omo
omobile
automobile
automobile

In [192]:
a = 'They ate the - mystery meat. It tasted like      chicken.'

# Splitting a string

In [191]:
a.split()

['They', 'ate', 'the', 'mystery', 'meat.', 'It', 'tasted', 'like', 'chicken.']

In [189]:
a.split(sep='.')

['They ate the mystery meat', ' It tasted like chicken', '']

In [193]:
a.split(sep='-')

['They ate the ', ' mystery meat. It tasted like      chicken.']

In [194]:
a.split(sep='m')

['They ate the - ', 'ystery ', 'eat. It tasted like      chicken.']

In [47]:
# split default
# split by .
# split by m

In [195]:
b = 'There is no business like show business.'

# Startswith vs Endswith

In [196]:
b.startswith('oi')

False

In [197]:
b.startswith('t')

False

In [198]:
b.startswith('T')

True

In [199]:
b.startswith('Ther')

True

In [200]:
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartao']

In [201]:
for variable in variables:
    if variable.startswith('vlr'):
        print(variable)

vlr_boleto
vlr_titulos
vlr_cartao

In [203]:
b.endswith('s')

False

In [204]:
b.endswith('.')

True

In [205]:
b.endswith('s.')

True

In [49]:
# with T, There, there

# Is it in a string?

In [207]:
'business' in b

True

In [208]:
'businessss' in b

False

In [209]:
for variable in variables:
    if 'vlr_' in variable:
        print(variable)

vlr_boleto
vlr_titulos
vlr_cartao

# String methods.

In [210]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [ ]:
def pprint(language='SQL'):
    
    if language.lower() == 'SQL':
        ...

In [ ]:
pprint(language='Sql')

In [211]:
c.lower()

'she had a marvelous assortment of puppets.'

In [212]:
c.upper()

'SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.'

In [213]:
c.capitalize()

'She had a marvelous assortment of puppets.'

In [214]:
c.title()

'She Had A Marvelous Assortment Of Puppets.'

In [215]:
x = 'Andre'
f'And then he said: "My name is {x.upper()}"'

'And then he said: "My name is ANDRE"'

In [ ]:
# lower, upper, capitalize, title

# Strip!

In [216]:
d = ' I have a tendency to leave trailing spaces.     '

In [217]:
# strip default, lstrip and rstrip

d.strip()

'I have a tendency to leave trailing spaces.'

In [218]:
d.lstrip()

'I have a tendency to leave trailing spaces.     '

In [219]:
d.rstrip()

' I have a tendency to leave trailing spaces.'

# Replacing values

In [224]:
ironhelpers.pprint(query='SELECT * FROM table', language='Sql')

```mysql
 SELECT * FROM table```

In [225]:
e = 'I thought the movie was wonderful wonderful wonderful!'

e.replace('wonderful', 'WONDERFUL', 2)

'I thought the movie was WONDERFUL WONDERFUL wonderful!'

# Logging

In [226]:
import logging

logging.basicConfig(level=logging.INFO)

logging.info('This is a message')

INFO:root:This is a message

In [18]:
# tqdm

In [232]:
x = ' '
x.ljust(4, '-')

' ---'

# REGULAR EXPRESSIONS

In [233]:
import re

1. search: Returns the first instance of an expression in a string.
2. findall: Finds all instances of an expression in a string and returns them as a list.
3. split: Splits a string based on a specified delimiter.
4. sub: Substitutes a string/substring with another.

In [234]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = 'neigh'

re.findall(pattern, text)

['neigh']

In [235]:
text = 'My , Mr. Rogers, has 5 dogs.'
pattern = 'neigh'

re.findall(pattern, text)

[]

In [239]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = '[neighM]'

re.findall(pattern, text)

['M', 'n', 'e', 'i', 'g', 'h', 'M', 'g', 'e', 'h', 'g']

In [252]:
text = 'My neighbor, Mr. Rogers, ] has 5 - dogs.'
pattern = '(n|e|i|g|h)'

re.findall(pattern, text)

['n', 'e', 'i', 'g', 'h', 'g', 'e', 'h', 'g']

In [55]:
# match specific chars []

# Patterns:

1. [a-z]: Any lowercase letter between a and z.
2. [A-Z]: Any uppercase letter between A and Z.
3. [0-9]: Any numeric character between 0 and 9.

In [240]:
re.findall('[a-z]', text)

['y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'r',
 'o',
 'g',
 'e',
 'r',
 's',
 'h',
 'a',
 's',
 'd',
 'o',
 'g',
 's']

In [241]:
re.findall('[A-Z]', text)

['M', 'M', 'R']

In [244]:
re.findall('[0-9]', text)

['5']

The opposite: 
- ^ matches everything except the pattern

In [245]:
pattern = '[^a-z]'
re.findall(pattern, text)

['M', ' ', ',', ' ', 'M', '.', ' ', 'R', ',', ' ', ' ', '5', ' ', '.']

In [246]:
# concat patterns [] 
pattern = '[^a-zA-Z]'
re.findall(pattern, text)

[' ', ',', ' ', '.', ' ', ',', ' ', ' ', '5', ' ', '.']

In [259]:
# concat patterns and add space.
# concat patterns []
pattern = '[^a-zA-Z \]-]'
re.findall(pattern, text)

[',', '.', ',', '5', '.']

# Specific patterns matches:

1. \w: Any alphanumeric character.
2. \W: Any non-alphanumeric character.
3. \d: Any numeric character.
4. \D: Any non-numeric character.
5. \s: Any whitespace characters.
6. \S: Any non-whitespace characters.
7. . (dot) : Any character except newline (\n).

In [261]:
text

'My neighbor, Mr. Rogers, ] has 5 - dogs.'

In [263]:
text = 'My neighbor, Mr. Rogers, ] has 5 - dogs 10.'

In [264]:
print(re.findall('\d', text))

['5', '1', '0']

In [268]:
print(re.findall('(\d)', text))

['5', '1', '0']

In [271]:
print(re.findall('\w', text))
# [a-zA-Z0-9]

['M', 'y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', 'M', 'r', 'R', 'o', 'g', 'e', 'r', 's', 'h', 'a', 's', '5', 'd', 'o', 'g', 's', '1', '0']

In [278]:
text = '''
My neighbor, 
Mr. Rogers, ] has 5 - dogs 10.'''

In [279]:
print(re.findall('[\S]', text))

['M', 'y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', ',', 'M', 'r', '.', 'R', 'o', 'g', 'e', 'r', 's', ',', ']', 'h', 'a', 's', '5', '-', 'd', 'o', 'g', 's', '1', '0', '.']

In [281]:
print(re.findall('\s', text))

['\n', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [280]:
print(re.findall('[^ ]', text))

['\n', 'M', 'y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', ',', '\n', 'M', 'r', '.', 'R', 'o', 'g', 'e', 'r', 's', ',', ']', 'h', 'a', 's', '5', '-', 'd', 'o', 'g', 's', '1', '0', '.']

In [282]:
print(re.findall('.', text))

['M', 'y', ' ', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', ',', ' ', 'M', 'r', '.', ' ', 'R', 'o', 'g', 'e', 'r', 's', ',', ' ', ']', ' ', 'h', 'a', 's', ' ', '5', ' ', '-', ' ', 'd', 'o', 'g', 's', ' ', '1', '0', '.']

# Methods of re

In [300]:
text = 'My neighbor, Mr. Rogers, ] has 5 - dogs 1000,'

In [290]:
text.split(',')

['My neighbor', ' Mr. Rogers', ' ] has 5 - dogs 10', '']

In [293]:
print(re.split(',', text))

['My neighbor', ' Mr. Rogers', ' ] has 5 - dogs 10', '']

In [296]:
text

'My neighbor, Mr. Rogers, ] has 5 - dogs 10,'

In [294]:
print(re.split('[0-9]', text))

['My neighbor, Mr. Rogers, ] has ', ' - dogs ', '', ',']

In [314]:
print(re.sub('[0-9]{1,}', '100', text))

My neighbor, Mr. Rogers, ] has 100 - dogs 100,

# Examples

Find the regexes that: 
1. Matches “Dan” and “Ban” (first letter can be "D" or "B").
2. Matches “Dan”, “Ban”, “Tan”, and “Pan”.
3. Matches “Dan” and “Dag” (last letter can be "n" or "g").
4. Matches single character “D”, or “a”, or “n”. Meaning it will not match the entire string "Dan", only one single character (probably not what you wanted).

In [328]:
text = 'Dan and Ban and Tan Dah andSan and Dag wasodkpfoaksdpofk i9as09riPan i 09wie'

In [322]:
pattern = '[DBS]an'

re.findall(pattern, text)

['Dan', 'Ban', 'San']

In [323]:
pattern = '[DBPT]an'

re.findall(pattern, text)

['Dan', 'Ban', 'Tan', 'Pan']

In [325]:
pattern = 'Da[ng]'

re.findall(pattern, text)

['Dan', 'Dag']

In [329]:
pattern = 'Da[g-n]'

re.findall(pattern, text)

['Dan', 'Dah', 'Dag']

# Capturing group