# List Comprehensions

In [1]:
my_list = [1, 2]
my_list.append(3)

In [2]:
my_list.insert(3, 'Oi')

In [3]:
my_list

[1, 2, 3, 'Oi']

# Loops

In [4]:
from tqdm import tqdm_notebook

In [5]:
new_list = []
for item in range(100):
    new_list.append(item)
    
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
import time

In [7]:
pbar = tqdm_notebook(total=100)
for i in range(10):
    time.sleep(0.1)
    pbar.update(10)
pbar.close()

<ipython-input-7-256125b36114>:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  pbar = tqdm_notebook(total=100)

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

In [9]:
from tqdm import tqdm

In [10]:
new_list = []
for item in tqdm(range(100000000), desc='My description', ):
    new_list.append(item)

My description: 100%|██████████| 100000000/100000000 [00:31<00:00, 3219774.37it/s]


# List comprehension

In [2]:
my_list_comprehension = [item for item in range(10)]
print(my_list_comprehension)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
my_list_comprehension = []
for item in range(10):
    my_list_comprehension.append(item * 2)

In [15]:
my_list_comprehension

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
my_list_comprehension = [item * 2 for item in range(10)]

my_list_comprehension

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
my_list_comprehension = []
for item in range(10):
    my_list_comprehension.append(item + 1)
    print(my_list_comprehension)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
[print(item * 2) for item in range(10)]

0
2
4
6
8
10
12
14
16
18

[None, None, None, None, None, None, None, None, None, None]

In [23]:
a = print()
print(a)

None

# Condições

In [24]:
lst = []

for item in range(20):
    if item >= 5:
        lst.append(item)
        print(lst)

[5]
[5, 6]
[5, 6, 7]
[5, 6, 7, 8]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10, 11]
[5, 6, 7, 8, 9, 10, 11, 12]
[5, 6, 7, 8, 9, 10, 11, 12, 13]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
[item for item in range(20) if item >= 5]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]
lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [53]:
lst = []

for item in lst_lst:
    for another_item in item:
        if another_item > 5:    
            lst.append(another_item)

print(lst)

[6, 7, 8, 9]

In [49]:
[coisa for coisa in lst_lst]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
[another_item for item in lst_lst 
                 for another_item in item 
                     if another_item > 5]

[6, 7, 8, 9]

In [59]:
lst = []
for item in range(10):
    if item < 5:
        lst.append(0)
    else:
        lst.append(1)

lst

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [60]:
[(0 if item < 5 else 1) for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [61]:
[0 if item < 5 else 1 for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

# Applications with Pandas

In [63]:
import pandas as pd

In [68]:
!ls data

FitBit.csv              bike_sharing_hourly.csv titanic_processed.csv
bike_sharing_daily.csv  titanic.csv

In [66]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/ironhack-analytics/list-comprehensions

In [71]:
titanic = pd.read_csv('data/titanic.csv')

In [72]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [74]:
!ls data

FitBit.csv              bike_sharing_daily.csv  titanic.csv
asoidjfoi.cmd           bike_sharing_hourly.csv titanic_processed.csv
asriowier.xlsx          bla.txt

In [86]:
import os

files = os.listdir('data')
csv_files = [file for file in files if file.endswith('.csv')]

In [87]:
csv_files

['bike_sharing_hourly.csv',
 'titanic.csv',
 'bike_sharing_daily.csv',
 'titanic_processed.csv',
 'FitBit.csv']

In [92]:
dataframes = [pd.read_csv(f'data/{file}') for file in csv_files]

In [95]:
type(dataframes[1])

pandas.core.frame.DataFrame