# Prova Itaú - Estatística + SQL

# Prova 1.

## Questão 9.a) 

Calcule a distância máxima entre as funções de distribuição acumulada empírica das seguintes amostras (5, 3, 3, 11, 8, 7, 1, 5, 4, 9) e (2, 1, 1, 4, 3, 1, 1, 1, 3, 2). 

## Questão 9.b) 

Um analista possui as seguintes informações a respeito dos valores de uma amostra de 30 observações: 

 A média de todos os valores é igual a 2.96 
 A soma dos quadrados dos valores é igual a 268 

Calcule o desvio padrão amostral.

# SQL

## Questão 10) 

Suponha a existência de duas tabelas de dados conforme o Modelo Entidade Relacional (MER) abaixo: 

### Assinale a(s) alternativa(s) correta(s) que retornam os 100 clientes que transacionaram mais dinheiro. 

a) SELECT a.* FROM (SELECT cpf, SUM(valor) as acumulado FROM transacoes GROUP BY cpf ORDER BY acumulado DESC) a limit 100;

b) SELECT SUM(Transacoes.Valor), clientes.CPF FROM Clientes INNER JOIN Transacoes ON Clientes.CPF=Transacoes.CPF GROUP BY clientes.CPF ORDER BY SUM(Transacoes.Valor) DESC LIMIT 100; 

c) SELECT cpf, valor FROM transacoes order by cpf limit 100; 

d) SELECT clientes.cpf, transacoes.valor FROM clientes LEFT JOIN transacoes ON clientes.cpf = transacoes.cpf ORDER BY transacoes.valor DESC LIMIT 100; 

### Assinale a(s) alternativa(s) correta(s) que retorna(m) a tabela Clientes com mais uma coluna. Esta coluna contem a marcação 1 para aqueles que transacionaram mais do que R$10.000,00 ao longo do tempo e 0 caso contrário. 

a) SELECT clientes.*, case when acumulado is not null then 1 else 0 END as gdes_valores FROM clientes left join (SELECT * FROM (SELECT cpf, sum(valor) as acumulado FROM transacoes group by cpf) trans where acumulado>10000) transf on transf.cpf=clientes.cpf; 

b) SELECT clientes.CPF, clientes.Nome, CASE WHEN SUM(Transacoes.Valor) > 10000 THEN 1 ELSE 0 END as gdes_valores FROM Clientes INNER JOIN Transacoes ON Clientes.CPF=Transacoes.CPF GROUP BY Clientes.CPF, Clientes.nome; 

c) SELECT clientes.cpf, clientes.nome, case when valor>10000 then 1 else 0 END as gdes_valores FROM clientes left join transacoes on transacoes.cpf=clientes.cpf; 

d) SELECT /*+ MAPJOIN(clientes) */ clientes.*, case when acumulado is not null then 1 else 0 END as gdes_valores FROM clientes left join (SELECT * FROM (SELECT cpf, sum(valor) as acumulado FROM transacoes group by cpf) trans where acumulado>10000) transf on transf.cpf=clientes.cpf;

-----