In [3]:
def minha_funcao(x):
    '''
    Esta funcao sera apenas uma amostra de um docstring.
    
    x: x é uma variávelzinha.
    '''
    return x

In [4]:

minha_funcao

'\n    Esta funcao sera apenas uma amostra de um docstring.\n    \n    x: x é uma variávelzinha.\n    '

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Dicts

In [8]:
my_dict = {'1':'ooi', '10':30}

In [10]:
my_dict.keys()

dict_keys(['1', '10'])

In [11]:
my_dict.values()

dict_values(['ooi', 30])

In [12]:
my_dict['1']

'ooi'

In [13]:
my_dict['10000']

KeyError: '10000'

In [25]:
my_dict.get('10000', 100)

100

In [30]:
def my_get(dictionary, key, default=None):
    if key in dictionary.keys():
        return dictionary[key]
    else:
        return default

In [31]:
my_get(my_dict, '100000')

In [32]:
my_dict.items()

dict_items([('1', 'ooi'), ('10', 30)])

In [33]:
my_dict.update({'30': 'oooooi'})

In [34]:
my_dict

{'1': 'ooi', '10': 30, '30': 'oooooi'}

In [36]:
my_dict.update({30 : 'tchau'})

In [37]:
my_dict

{'1': 'ooi', '10': 30, '30': 'oooooi', 30: 'tchau'}

In [38]:
my_dict.keys()

dict_keys(['1', '10', '30', 30])

In [ ]:
{
    'nome do filme': 1
    'nome do ator' : 'Leonardo di Caprio'
    ...
}

# Lists

In [40]:
lst = []

In [41]:
lst = [1,2,3]

In [43]:
lst

list

In [44]:
lst = [1,2,3,4,5,6,7]

In [47]:
new_lst = []

for i in lst:
    if i > 4:
        print(i)
        new_lst.append(i)

5
6
7

In [50]:
new_lst = [i for i in lst if i > 4]

In [51]:
new_lst

[5, 6, 7]

In [52]:
lst = ['Ironhack is cool.', 'Blabbla is love', 'A student.']

In [57]:
[i.replace('.','') for i in lst]

['Ironhack is cool', 'Blabbla is love', 'A student']

In [59]:
nomes = ['Andre','Fernanda','Livia']

In [60]:
notas = [10, -999999, 12]

In [62]:
for each_name in nomes:
    for each_nota in notas:

Andre 10
Andre -999999
Andre 12
Fernanda 10
Fernanda -999999
Fernanda 12
Livia 10
Livia -999999
Livia 12

In [66]:
ironhackers = {}

In [67]:
for i in range(len(nomes)):
    print(nomes[i], notas[i])
    
    ironhackers.update({nomes[i]: notas[i]})

Andre 10
Fernanda -999999
Livia 12

In [68]:
ironhackers

{'Andre': 10, 'Fernanda': -999999, 'Livia': 12}

In [73]:
dict(zip(nomes, notas))

{'Andre': 10, 'Fernanda': -999999, 'Livia': 12}

In [74]:
for (nome, nota) in zip(nomes, notas):
    print(nome, nota)

Andre 10
Fernanda -999999
Livia 12

In [90]:
lazy = dict(zip(nomes, notas))

In [91]:
lazy

{'Andre': 10, 'Fernanda': -999999, 'Livia': 12}

In [118]:
lst = [['Andre','Fernanda','Livia'], 
       ['Rodrigo', 'Carol','Edla'], 
       ['Eliane','Rodrigo','Renata']
    ]

In [119]:
lst

[['Andre', 'Fernanda', 'Livia'],
 ['Rodrigo', 'Carol', 'Edla'],
 ['Eliane', 'Rodrigo', 'Renata']]

{'Livia': 10, 'Rodrigo': [8, 9, 10]}

In [109]:
my_dict = {'Livia': 10, 'Rodrigo': [8, 9, 10]}

In [112]:
my_dict['Rodrigo']

[8, 9, 10]

In [117]:
lst = [
    {'Andre': 10, 'Fernanda': 9},
    {'Livia': 10, 'Rodrigo': [8, 9, 10]}
]

lst[1]['Rodrigo'][1]

9

In [120]:
lst = [['Andre','Fernanda','Livia'], 
       ['Rodrigo', 'Carol','Edla'], 
       ['Eliane','Rodrigo','Renata']
    ]

In [124]:
lst

[['Andre', 'Fernanda', 'Livia'],
 ['Rodrigo', 'Carol', 'Edla'],
 ['Eliane', 'Rodrigo', 'Renata']]

In [131]:
lst[0][1].startswith('A')

False

In [133]:
lst

[['Andre', 'Fernanda', 'Livia'],
 ['Rodrigo', 'Carol', 'Edla'],
 ['Eliane', 'Rodrigo', 'Renata']]

In [141]:
'A' in 'Andre Ribeiro Aguiar'

True

In [144]:
for lst_nome in lst:
    print(lst_nome)
    print('oi')
    for each_nome in lst_nome:
        
        if each_nome.startswith('A') or 'a' in each_nome:
            # verificando se comeca com A
            print('Se comeca com A: ' , each_nome, each_nome.startswith('A'))

            # verificando se contem a
            'a' in each_nome 

            print('Se contem a: ', each_nome, 'a' in each_nome)

['Andre', 'Fernanda', 'Livia']
oi
Se comeca com A:  Andre True
Se contem a:  Andre False
['Rodrigo', 'Carol', 'Edla']
oi
['Eliane', 'Rodrigo', 'Renata']
oi

In [146]:
for lst_nome in lst:
    for each_nome in lst_nome:
        
        if each_nome.startswith('A') or 'a' in each_nome:
            # verificando se comeca com A
            print('Se comeca com A: ' , each_nome)

            # verificando se contem a
            'a' in each_nome 

            print('Se contem a: ', each_nome)

Se comeca com A:  Andre
Se contem a:  Andre
Se comeca com A:  Fernanda
Se contem a:  Fernanda
Se comeca com A:  Livia
Se contem a:  Livia
Se comeca com A:  Carol
Se contem a:  Carol
Se comeca com A:  Edla
Se contem a:  Edla
Se comeca com A:  Eliane
Se contem a:  Eliane
Se comeca com A:  Renata
Se contem a:  Renata

In [148]:
x = []

for lst_nome in lst:
    for each_nome in lst_nome:
        if each_nome.startswith('A') or 'a' in each_nome:
            x.append(each_nome)
            # verificando se comeca com A
            print('Se comeca com A: ' , each_nome)

            # verificando se contem a
            'a' in each_nome 

            print('Se contem a: ', each_nome)
x

Se comeca com A:  Andre
Se contem a:  Andre
Se comeca com A:  Fernanda
Se contem a:  Fernanda
Se comeca com A:  Livia
Se contem a:  Livia
Se comeca com A:  Carol
Se contem a:  Carol
Se comeca com A:  Edla
Se contem a:  Edla
Se comeca com A:  Eliane
Se contem a:  Eliane
Se comeca com A:  Renata
Se contem a:  Renata

['Andre', 'Fernanda', 'Livia', 'Carol', 'Edla', 'Eliane', 'Renata']

In [158]:
[each_nome for lst_nome in lst for each_nome # meu comentario
     in lst_nome if each_nome.startswith('A') or 'a' in each_nome]

['Andre', 'Fernanda', 'Livia', 'Carol', 'Edla', 'Eliane', 'Renata']

In [152]:
[i for i in lst]

In [154]:
[each_nome for i in lst for each_nome in i if each_nome.startswith('A') or 'a' in each_nome]

['Andre', 'Fernanda', 'Livia', 'Carol', 'Edla', 'Eliane', 'Renata']