from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import GradientBoostingRegressor
from pathlib import Path
import seaborn as sns
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
# ^^^ pyforest auto-imports - don't write above this line
# Object-Oriented Class

Introduction to object-oriented computer paradigm

## Classes

### What is a class

> A data structure to gather together both data and functions. Inside of classes, functions are called `methods` and data information is called `attribute`.

### Creating a simple class

In [314]:
class Person:
    pass

In [316]:
type(Person)

type

## Attributes

In [317]:
class Person:
    nome = 'Andre'
    cor_cabelo = 'preto'
    oculos = True
    altura = 1.75
    peso = 80
    cor_olhos = 'verde'

`Person.<TAB>`

In [320]:
Person.nome

'Andre'

## Methods

In [321]:
class Person:

    def say_hi():
        print('Oooooiiii')

`Person.<TAB>`

In [323]:
Person.say_hi()

Oooooiiii

In [325]:
# say_hi only exists inside the Person
say_hi()

NameError: name 'say_hi' is not defined

In [326]:
def say_hi():
    print('Tchaaaau')

In [327]:
say_hi()

Tchaaaau

In [328]:
Person.say_hi()

Oooooiiii

## Mixing attributes and methods

In [329]:
class Person:
    nome = 'Andre'
    cor_cabelo = 'preto'
    oculos = True
    altura = 1.75
    peso = 80
    cor_olhos = 'verde'
    
    
    def say_hi():
        print('Oooooiiii')

`Person.<TAB>`

In [ ]:
Person.

## Objects

### What is an object?

An instance --> um exemplo

### Instantiating objects

In [330]:
my_example_person = Person

In [332]:
my_example_person.say_hi()

Oooooiiii

`my_example_person.<TAB>` shows methods and attributes of your objects.

### Obs: 

Classes são como **moldes** que criam uma **instância** ou um **exemplo** de um objeto que compartilham propriedades (como `nome`,`cor_cabelo`, etc) entre si, porém, se diferenciam pelo valor que estas propriedades tomam (como `nome = 'Andre'` vs `nome = 'Fernanda'`)

In [ ]:
# como se fosse um formulario (gui)

# How can I, then, differentiate them?

## Special Functions

That's when the special function `__init__` comes in.

`__init__` is the method that runs when you `call` a class.

In [333]:
Person()

In [334]:
class Person:


    def __init__():
        print('oi')
        
    def say_hi():
        print('hi')

In [335]:
my_example_person = Person

In [336]:
my_example_person.say_hi()

hi

## But to instantiate an object, i.e., in order to create our example of Person, we have to `call` the class.

In [337]:
my_example_person = Person()

TypeError: __init__() takes 0 positional arguments but 1 was given

In order to `call` our class, we see that 1 parameter is always given. We'll soon see that this first argument is always the `object itself`. Why would it pass itself? In that manner, you always are allowed to access all your objects attributes and methods everywhere.

So let's add an argument to the `__init__` method

In [346]:
class Person:

    def __init__(self):
        print(self)
        self.name = 'Andre'
        self.cor_cabel = 'Preto'
        
        print('oi')
        
    def say_hi():
        print('hi')

In [347]:
Person.__new__(Person)

In [348]:
x = Person()

<__main__.Person object at 0x11efe24f0>
oi

In [350]:
x.cor_cabel

'Preto'

Now I can call the method and, hence, call the `__init__` method

In [342]:
my_example_person = Person()

<__main__.Person object at 0x11ef24e20>
oi

In [343]:
my_example_person.name

'Andre'

In [353]:
my_example_person.say_hi()

TypeError: say_hi() takes 0 positional arguments but 1 was given

In [357]:
class Person:

    def __init__(self):
        print(self)
        self.name = 'Andre'
        self.cor_cabel = 'Preto'
        
        print('oi')
        
    def say_hi(self):
        
        print(f'hi {self.name}')

In [358]:
my_person = Person()

<__main__.Person object at 0x11efaf970>
oi

In [359]:
my_person.say_hi()

hi Andre

When you run `my_example_person.say_hi()`, you are effectively running `say_hi(my_example_person, )`

> As soon as you include the `self` variable in the `__init__()` method, you start to always pass the object it**self** as an argument of all methods.

So if you want `say_hi` to be available on all instances (examples) of your class, you also have to give it an argument.

In [209]:
class Person:


    def __init__(self):
        self.name = 'Andre'
        print('oi')
        
    def say_hi(self):
        print('hi')

In [210]:
my_example_person = Person()

oi

In [212]:
my_example_person.say_hi()

hi

## However, until now, we haven't given the name as an argument

In order to call a class with an argument, just add the argument to the `__init__` method.

In [361]:
class Person:
    
    def __init__(self, name):
        self.nome = name
        print('oi')
        
    def say_hi(self):
        print('hi')

In [362]:
my_example_person = Person()

TypeError: __init__() missing 1 required positional argument: 'name'

In [365]:
my_example_person = Person(name='Joao')

oi

In [366]:
my_example_person.nome

'Joao'

In [216]:
my_example_person.say_hi()

hi

## We can now use the `name attribute` everywhere in our class by assessing it on the `object itself`.

In [367]:
class Person:
    
    def __init__(self, name):
        self.name = name
        print('oi')

    def say_hi(self):
        print(f'hi from {self.name}')

In [369]:
my_example_person = Person('Joao')
my_example_person.say_hi()

oi
hi from Joao

> Note that the name `self` is just a standard, but you could call it `abobrinha` if you want.

In [374]:
class Person:


    def __init__(abobrinha, name):
        abobrinha.name = name
        print('oi')
        
    def say_hi(cenoura):
        print(f'hi {cenoura.name}')

In [376]:
y = Person('Joao')
y.say_hi()

oi
hi Joao

In [392]:
class Person:
    """
    This is @ class Person
    """
    def __init__(self, name, birth_year):
        """
        This is @ init
        """
        self.name = name
        self.birth_year = birth_year
        
        print('oi')

    def say_hi(self):
        print(f'hi from {self.name}')
        
    def age(self):
        return 2020 - self.birth_year

In [379]:
my_example_person = Person('Andre', 1992)

oi

In [380]:
my_example_person.age()

28

# Class Inheritence

Imagine you have created a `Person class` and now you want to create a `Student class`.

Students are a kind of specific `Person` and, hence, they share the same attributes and methods. 

However, they have their own different attributes and methods. How can I reuse the classes I have and just make a better class?

In [381]:
class Student(Person):
    pass

In [383]:
example_student = Student('Andre', 1992)

oi

In [384]:
example_student.age()

28

In [385]:
from pandas import DataFrame

In [387]:
import pandas as pd

In [389]:
type(my_example_person)

__main__.Person

In [390]:
type(example_student)

__main__.Student

In [395]:
df = pd.DataFrame(np.random.random((2,2)), columns=['a','b'])

In [396]:
df

          a         b
0  0.369549  0.938771
1  0.226670  0.226537

In [397]:
df.columns

Index(['a', 'b'], dtype='object')

In [399]:
class myDataFrame(pd.DataFrame):
    
    def my_func(self):
        print('oooooi')
        return self

In [400]:
df2 = myDataFrame(df)

In [401]:
df2

          a         b
0  0.369549  0.938771
1  0.226670  0.226537

In [ ]:
df.my_func

In [402]:
df2.my_func()

oooooi

          a         b
0  0.369549  0.938771
1  0.226670  0.226537

In [403]:
class Student(Person):
    pass

In [405]:
class Student(Person):

    def __init__(self, name, birth_year, entry_year):
        Person.__init__(self, name, birth_year)
        
        self.entry_year = entry_year
        self.id = self.name + str(self.entry_year)[-2:]
        self.clas = self.find_class()
    
    def find_class(self):
        return np.random.randint(0, 10)

In [406]:
my_student = Student(name='Andre', birth_year=1992, entry_year=2010)

oi

In [414]:
my_student.clas

1

In [413]:
my_student.find_class()

1